<h1>Welcome to Miami</h1>
<img src="/img/miami-2.jpg" class="img-fluid" alt="">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum corrupti facilis quasi mollitia dicta nesciunt culpa fugiat reiciendis, nemo quis suscipit deserunt harum odit, dolore perferendis. Distinctio fugiat porro eligendi.</p>