@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Poppins:wght@400;700&display=swap');

.croissant{font-family: 'Croissant One', cursive;}

.poppins{font-family: 'Poppins', sans-serif; font-weight: 400;}
.poppins-bold{font-family: 'Poppins', sans-serif; font-weight: 700;}

/* body{
    background-color: #cccccc;
}
*/

.white-bg{
    background-color: #ffffff;
}

.primary-color{
    color:#45787e;
}

.primary-color-light, nav .secondary-color-light:hover{
    color: #000000
}

.accordion-button:not(.collapsed){
    color:#9ac5ca;
    background-color: #0c5460;
}

.primary-color-bg{
    background-color:#17292c;
}

.primary-color-light-bg{
    background-color: #494643;
}

.secondary-color{
    color: #440026;
}

.secondary-color-light{
    color: #9ac5ca;
}

.secondary-color-bg{
    background-color: #45787e;
}

.secondary-color-light-bg{
    background-color: #CD88AF;
}

/* remove owl-nav previous and next button */

.owl-nav{
    display: none;
}

.section-divider{
    padding: 1rem;
}

.gallery-img img{
    object-fit: cover;
    height: 20rem;
    aspect-ratio:1 / 1;
}

footer{
    padding: 3rem;
}